//Partial - this file holds all button classes

%btn {
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;

    transition: transform 0.5s;

    &:hover{
        transform: scale(0.95);
    }
}


.btn-primary{
    @extend %btn;
    @include set-background($secondary-color);
}

.btn-secondary{
    @extend %btn;
    @include set-background(lighten($secondary-color, 12%));
}

.btn-tertiary{
    @extend %btn;
    @include set-background(lighten($secondary-color, 25%));
}

.btn-stack{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
}