// Partial - This file holds all variables and functions
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

$font-stack:        Poppins, Open Sans, Helvetica, Arial, sans-serif;

// Color Palette
$c-palette1: #70823E;
$c-palette2: #DFCF99;
$c-palette3: #E0B44A;
$c-palette4: #D8853F;
$c-palette5: #F3EAD8;
$c-palette6: #866C5A;

// Main Colors
$primary-color:     $c-palette5;
$secondary-color:   $c-palette1;
$tertiary-color:    $c-palette3;



// Set text color based on background
@function set-text-color($color){
    @if(lightness($color) > 70) {
        @return #333;
    } @else {
        @return white;
    }
}

// Set background & text color
@mixin set-background($color){
    background-color: $color;
    color: set-text-color($color);
}


