// This file holds media queries for variable screen sizes

@media (max-width: 700px){


  

    .showcase{
        .logo{
            white-space: nowrap;
        }

        nav{
            display: flex;
            flex-direction: column;
        }

        .hero{
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;

            .myRole{
                margin-top: 1rem;
            }
        }

        .btn-stack{
            margin-top: 4rem;
        }
        
        &-content{
            text-align: center;

            img{
                display: none;
            }
        }
    }

    .btn-stack{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .btn-primary, .btn-secondary, .btn-tertiary{
        width: 100%;
    }

    .guide-grid{
        display: grid;
        grid-template-columns: 1fr;
    }


    //links to the projects
    

}

@media (max-width: 800px){
    .project-grid{
        display: flex;
        flex-direction: column;
    }

    //actual project details
    .project-flow{
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
    
        .flow-row{
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 2rem;
            margin-bottom: 2rem;
        }
    }

    .bio-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    .hero-image{
        display: none;
    }



}
