// This file holds media queries for variable screen sizes

@media (max-width: 700px){
    .showcase{
        height: 400px;

        &-content{
            text-align: center;

            img{
                display: none;
            }
        }
    }

    .btn-stack{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .btn-primary, .btn-secondary, .btn-tertiary{
        width: 100%;
    }

    .guide-grid{
        display: grid;
        grid-template-columns: 1fr;
    }



}