//  Main SASS Stylesheet

//is compiled and minified to regular css


@import 'config';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $primary-color;
    font-family: $font-stack;
    line-height: 1.6;
    color: set-text-color($primary-color);
}

img{
    border-radius: 1rem;
    height: 30rem;
    object-fit: cover;
    object-position: top;
}

a {
    text-decoration: none;
}
       
p {
    max-width: 38rem;
}

.showcase{
    @include set-background($primary-color);

    // max-height: 1600px;

    margin-bottom: 6rem;

    nav{
        @include set-link-properties();
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul{
            display: flex;
            list-style: none;
        }

        li{
            padding: 15px;
        }
    }

    .hero{
        padding-right: 1.5rem;
    }

    .hero-image{
        height: 350px;
    }

    &-content{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;

        img{
            width: 50%;
        }

        h1{
            font-size: 50px;
            line-height: 1.2;
        }
    }
}

#sticky-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 50px rgba(0,0,0,0.10);

    @include set-background($primary-color);

    nav{
        @include set-link-properties();
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul{
            display: flex;
            list-style: none;
        }

        li{
            padding: 15px;
        }
    }
}

.guide-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
   
    .column{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 1rem;
        margin-bottom: 10rem;;
        padding: 0;

        p{
            margin: 1rem 0;
        }
        .container{
            margin: 0;
        }
    }

    .left{
        // background-color: lightblue;
        @extend .column
    }
    .middle{
        // background-color: lightcoral;
        @extend .column;
    }
    .right{
        // background-color: lightgreen;
        @extend .column
    }

    .example-showcase{
        @include set-background($primary-color);
        display: flex;
        flex-direction: column;
        height: 40%;

   
        nav{
            @include set-link-properties();
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: space-between;

    
            ul{
                display: flex;
                flex-direction: column;
                align-items: left;
                list-style: none;
            }
    
            li{
                padding: 0;
            }
        }
    }
}


.font-box{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-self: flex-start;
}

.example-font-1{font-family: Poppins;}
.example-font-2{font-family: Open Sans;}
.example-font-3{font-family: Helvetica;}
.example-font-4{font-family: Arial;}

.example-colour-0{
    background-color: grey;
    border-radius: 8px; 
    padding: 1rem;
    margin: 0.5rem 0;
}

.example-colour-1{background-color: $c-palette1; @extend .example-colour-0;}
.example-colour-2{background-color: $c-palette2; @extend .example-colour-0;}
.example-colour-3{background-color: $c-palette3; @extend .example-colour-0;}
.example-colour-4{background-color: $c-palette4; @extend .example-colour-0;}
.example-colour-5{background-color: $c-palette5; @extend .example-colour-0;}
.example-colour-6{background-color: $c-palette6; @extend .example-colour-0;}

.example-list{
    padding: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left
}

.bio-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;

}





@import 'utility';
@import 'buttons';
@import 'mobile';

